body,html{
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;

}
body{
    overflow: hidden;
    background-image: url(http://ship.bsu.by/sm.ashx?guid=9732);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.bigboss{
    background-color: rgba(0, 0, 0, 0.4);
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 100% ;
    grid-template-rows: 30px calc(100% - 60px) 30px;
    grid-template-areas:
"header"
"middle"
"footer"
}

@media  (max-width: 768px) {
    .bigboss{
        grid-template-columns: 100%;
        grid-template-rows: 30px calc(100% - 60px) 30px;
        grid-template-areas:
          "header"
          "middle"
          "footer"
    }

}
.header{
    background-color:silver;
    padding: 2px;
}
.footer{
    background-color:silver;
    text-align: center;
}


.middle{
    background-color:lightslategray;
    padding: 2px;
    width: 40%;
    height: 70%;
    margin: auto auto auto auto;
}
.middle-a{
    display:grid;
    grid-template-columns: 40% 60% ;
    height:150px;
    padding-top: 130px;
    padding-right: 130px;

}

@media  (max-width: 768px) {
    .middle{
        width: 50%;
        height: 60%;

    }
    .middle-a{
        display: inline-block !important;
        padding-top: 50px;
        padding-right: 50px;
        margin-left: 15px;
    }
    input[type=submit]{
        padding-right: 130px;
        text-align: center;
    }
}

.log{
    text-align: center;
    margin-bottom: 15px;
    text-decoration:underline;


}
.pass{
    text-align: center;
    margin-bottom: 15px;
    text-decoration:underline;

}

input[type=text]{
    background-color: powderblue;
    margin-bottom: 15px;

}
input[type=submit]{
    background-color:aqua;

    text-decoration: none;
    margin: 2px 0px 0px 0px;
    cursor: pointer;
}


.sn{
    text-align: center;;
    padding-top: 20px;
}
.sn img{
    margin: 0px 10px 0px 10px;
}

@media  (max-width: 768px) {

    .sn img{
        margin: 0px !important;
    }
}